@model IEnumerable<PWEBLabTestesOnline.Models.TypeAnalysisTests>


<div class="container-fluid">
    <h1>Test types</h1>

    <p>
        <a asp-action="Create">Create New Test</a>
    </p>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">


                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.TypeAnalysisTestsId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
