@model PWEBLabTestesOnline.Models.Laboratories

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Laboratories</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LaboratoriesId" />
            <div class="form-group">
                <label asp-for="LaboratoriesName" class="control-label"></label>
                <input asp-for="LaboratoriesName" class="form-control" />
                <span asp-validation-for="LaboratoriesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="ManagerId" class="control-label"></label>
                    <select asp-for="ManagerId" class="form-control" asp-items="ViewBag.ManagerId"></select>
                </div>
            }

            <div class="form-group">
                <label asp-for="Techinicians" class="control-label"></label>
                <br />
                <a asp-action="Techinicians" asp-route-id="@Model.LaboratoriesId" class="btn btn-sm btn-secondary">Edit Techinicians</a>
                <br /><br />
                @if (Model.Techinicians != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var tec in Model.Techinicians)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => tec.FirstName) @Html.DisplayFor(modelItem => tec.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => tec.Email)
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
