@model PWEBLabTestesOnline.Models.Schedules

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="font-weight-bold text-primary text-uppercase mb-1">
                                    <h1>Book a test</h1>
                                </div>
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="AppointmentTime" class="control-label"></label>
                                        <input asp-for="AppointmentTime" class="form-control" />
                                        <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="LaboratoryId" class="control-label"></label>
                                        <select asp-for="LaboratoryId" name="lab_tests" onchange="submit()" class="form-control" asp-items="ViewBag.LaboratoryId"></select>
                                    </div>
                                    @if (ViewBag.TestTypeId != null)
                                    {
                                        <div class="form-group">
                                            <label asp-for="TestTypeId" class="control-label"></label>
                                            <select asp-for="TestTypeId" class="form-control" asp-items="ViewBag.TestTypeId"></select>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <input type="submit" name="lab_tests" value="Create" class="btn btn-primary" />
                                    </div>
                                </form>
                                <div>
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
