@model PWEBLabTestesOnline.Models.Schedules

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Schedules</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SchedulesId" />
            <div class="form-group">
                <label asp-for="AppointmentTime" class="control-label"></label>
                <input asp-for="AppointmentTime" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <select id="ResultSelectList" asp-for="Result" onchange="refreshResultInput()" asp-items="Html.GetEnumSelectList<TestResult>()"  class="form-control"></select>
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            @*============= Hiden =============*@
            <div class="form-group" id="other_input" style="display: none">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class ="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*=================================*@
            <div class="form-group">
                <label asp-for="LaboratoryId" class="control-label"></label>
                <input asp-for="Laboratory.LaboratoriesName" class="form-control" asp-items="Laboratory.LaboratoriesName" disabled/> 
            </div>
            <div class="form-group">
                <label asp-for="TestTypeId" class="control-label"></label>
                <input asp-for="TestType.Name" class="form-control" asp-items="TestType.Name" disabled/>
            </div>
            <div class="form-group">
                <label class="control-label">Client</label>
                <input asp-for="Client.Email" class="form-control" asp-items="Client.Email" disabled/>
            </div>
            <div class="form-group">
                <label class="control-label">Techinician</label>
                <input asp-for="Techinician.Email" class="form-control" asp-items="Techinician.Email" disabled/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function refreshResultInput() {
           if( document.getElementById("ResultSelectList").value == 3 ) {
                document.getElementById("other_input").style = "display: block";
           }
           else 
                document.getElementById("other_input").style = "display: none";
        }
    </script>
}
